@model List<ProductVM>

<div class="product-section section pt-70 pb-60">
    <div class="container">
        <!-- Section Title Start-->
        <div class="row">
            <div class="section-title text-center col mb-60">
                <h1>Featured Products</h1>
            </div>
        </div><!-- Section Title End-->
        <!-- Product Wrapper Start-->
        <div class="row">
            @foreach (var product in Model)
            {
                <div class="col-lg-4 col-md-6 col-12 mb-60">
                    <div class="product">
                        <!-- Image Wrapper -->
                        <div class="image">
                            <!-- Image -->
                            <a href="product-details.html" class="img">
                                <img src="@Url.Content("~/img/" + product.Image)" alt="@product.Name">

                            </a>
                            <!-- Wishlist -->
                            <a href="#" class="wishlist"><i class="fa fa-heart-o"></i></a>
                            <!-- Label -->
                        </div>

                        <!-- Content -->
                        <div class="content">
                            <!-- Head Content -->
                            <div class="head fix">
                                <!-- Title & Category -->
                                <div class="title-category float-left">
                                    <h5 class="title"><a href="product-details.html">@product.Name</a></h5>
                                    <a href="shop.html" class="category">@product.CategoryName</a>
                                </div>
                                <!-- Price -->
                                <div class="price float-right">
                                    <span class="new">@product.Price.ToString("C")</span>
                                </div>
                            </div>

                            <!-- Action Button -->
                            <div class="action-button fix">
                                <a href="#">Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div><!-- Product Wrapper End-->
    </div>
</div>
