@model IEnumerable<SliderInfoVM>
<div class="container mt-5">
    <h1 class="text-center">SliderInfo</h1>
    <a asp-action="Create" class="btn btn-success">Create</a>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Discount</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Operations</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Discount</td>
                        <td>@item.Title</td>
                        <td>@item.Description</td>
                        <td>
                            <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-info">Detail</a>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                            <form class="d-inline" asp-action="Delete" asp-route-id="@item.Id" method="post">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
