﻿
@model IEnumerable<AboutVM>
@{
	ViewData["Title"] = "Index";
}

<div style="margin-right:100px" class="container mt-5">
	<h1 class="text-center mt-3 mb-3">About</h1>
	<a asp-action="Create" class="btn btn-success">Create</a>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>
						Image
					</th>

					<th>
						Title
					</th>
					<th>
						Description
					</th>
					<th>
						Video
					</th>
					<th>
						Created Date
					</th>
					<th>
						Operations
					</th>

				</tr>
			</thead>
			<tbody>

			@foreach (var item in Model)
				{
					<tr>
						<td class="py-1">
							<img style="width:200px; height:150px" src="~/img/@item.Image" alt="image" />
						</td>

						<td style="white-space:normal">
							@Html.Raw(item.Title)
						</td>
						<td style="white-space:normal">
							@item.Description
						</td>
						<td style="white-space:normal">
							@item.Video
						</td>
						<th>
							@item.CreatedDate.ToString("dd/MM/yyyy")
						</th>
						<td>
							<a class="btn btn-info" asp-action="Detail" asp-route-id="@item.Id">Detail</a>
							<a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
							<form class="d-inline" asp-action="Delete" asp-route-id="@item.Id" method="post">
								<button type="submit" class="btn btn-danger btn-sm">Delete</button>
							</form>

					</tr>
					
				}


			</tbody>
		</table>
	</div>
</div>

