@model Product

<div class="product-section section pt-110 pb-90">
    <div class="container">
        <div class="row">
            <!-- Product Image & Thumbnail -->
            <div class="product-section">
                <div class="row">
                    <div class="col-lg-7 col-12 mb-30">
                        <!-- Product Thumbnail -->
                        <div class="single-product-thumbnail product-thumbnail-slider">
                            @foreach (var image in Model.ProductImages)
                            {
                                <div class="single-thumb">
                                    <img src="@image.Img" alt="Product Image" />
                                </div>
                            }
                        </div>

                        <!-- Product Image -->
                        <div class="single-product-image">
                            @foreach (var image in Model.ProductImages.Where(i => i.IsMain))
                            {
                                <div class="single-image">
                                    <img src="@image.Img" alt="Main Product Image" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>


            <!-- Product Content -->
            <div class="single-product-content col-lg-5 col-12 mb-30">
                <h1 class="title">@Model.Name</h1>
                <span class="product-rating">
                    <!-- Product Rating (e.g. 5 stars) -->
                    @for (int i = 0; i < 5; i++)
                    {
                        <i class="fa fa-star"></i>
                    }
                </span>

                <span class="product-price">€ @Model.Price</span>

                <div class="Price">
                    <p>@Model.Price</p>
                </div>

                <div class="product-category">
                    <strong>Category:</strong> <span>@Model.Category.Name</span>
                </div>

                <div class="product-quantity-cart fix">
                    <div class="product-quantity">
                        <input type="text" value="1" name="qtybox">
                    </div>
                    <button class="add-to-cart">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>
